@import 'normalize';
@import 'code';

$header-height: 540px;

$scrollbar-width: 0.75rem;

$responsive-minimum: 240px;
$responsive-small: 960px;
$responsive-medium: 1200px;

$color-back: var(--color-back);
$color-bg: var(--color-bg);
$color-text: var(--color-text);
$color-dim: var(--color-dim);
$color-primary: var(--color-primary);
$color-highlight: var(--color-highlight);
$color-secondary: var(--color-secondary);
$color-bold: var(--color-bold);
$color-header: var(--color-header);
$color-header2: var(--color-header2);
$color-border: var(--color-border);
$color-divider: var(--color-divider);
$color-shadow: var(--color-shadow);
$color-sidebar: var(--color-sidebar);
$color-code: var(--color-code);
$color-code2: var(--color-code2);
$color-scrollbar: var(--color-scrollbar);

$text-basis: 16px;
$text-largest: 2rem;
$text-larger: 1.5rem;
$text-large: 1.25rem;
$text-normal: 1rem;
$text-medium: 0.85rem;
$text-small: 0.75rem;

$family-header: 'Dosis', sans-serif;
$family-default: 'Montserrat', sans-serif;
$family-code: 'Fira Mono', monospace;

$weight-header: 300;
$weight-normal: 300;
$weight-bold: 500;

$size-margin: 1.5rem;
$size-spacing: 0.5rem;
$size-paragraph: 1rem;
$size-indent: 0.75rem;
$size-divider: 0.25rem;

$width-sidebar: 15rem;

:root {
    --color-back: #070707;
    --color-bg: #111111;
    --color-text: #CCCCCC;
    --color-dim: #888888;
    --color-primary: #1987C6;
    --color-highlight: #7FAAC1;
    --color-secondary: #F2A900;
    --color-bold: #FFFFFF;
    --color-header: #FFFFFF;
    --color-header2: #96DAFF;
    --color-border: #1987C6;
    --color-divider: #222222;
    --color-shadow: #00000080;
    --color-sidebar: #222222;
    --color-code: #031721;
    --color-code2: #01080C;
    --color-scrollbar: #000000;

    font-size: $text-basis;
}

* {
    box-sizing: border-box;
}

body {
    background: $color-bg;
    background-image: radial-gradient(circle at bottom, $color-back 0%, $color-bg 100%);

    color: $color-text;

    font-family: $family-default;
    font-weight: $weight-normal;

    margin: 0;
    padding: 0;

    line-height: 1.5;

    min-width: $responsive-minimum;
}

body.mode-light {
    --color-bg: #C7C7C7;
    --color-back: #F4F4F4;
    --color-text: #111111;
    --color-dim: #555555;
    --color-sidebar: #E4E4E4;
    --color-secondary: #6359AF;
    --color-bold: #000000;
    --color-header: #9084FC;
    --color-header2: #6359AF;
    --color-border: #6359AF;
    --color-divider: #888888;
    --color-code: #383838;
    --color-code2: #222222;
    --color-scrollbar: #222222;
}

a {
    transition: color 0.5s;
    color: $color-primary;
    text-decoration: none;
}
a:hover {
    color: $color-highlight;
    text-decoration: underline;
}

::-webkit-scrollbar {
    height: $scrollbar-width;
    width: $scrollbar-width;
    background: $color-scrollbar;
}

::-webkit-scrollbar-thumb {
    background: $color-border;
    -webkit-border-radius: 0.5 * $scrollbar-width;
    -webkit-box-shadow: 0px 1px 2px $color-shadow;
}

pre::-webkit-scrollbar {
    height: 0.5 * $scrollbar-width;
    width: 0.5 * $scrollbar-width;
}

header {
    //background: $color-back;
    background-color: $color-back;
    background-image: url(../images/themuuj-banner.png);
    background-position: center bottom;
    background-size: auto;
    height: $header-height / 3.0;

    position: sticky;
    top: calc(4rem - #{$header-height / 3.0});

    border-bottom: $size-divider solid $color-border;
    box-shadow: 0px 2px 4px $color-shadow;

    h1,h2 {
        color: $color-header;
        font-size: $text-largest;
    }
}

header.layout-home {
    height: $header-height;
    top: calc(4rem - #{$header-height});
}

.header-content {
    position: absolute;
    padding: 0 $size-margin;
    width: 100%;
    bottom: $size-spacing;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $family-header;
    font-weight: $weight-header;
    color: $color-bold;

    margin: 0;
    padding: 0;
}

footer {
    font-size: $text-small;
    padding: 0 $size-margin 0 $size-margin;

    h3 {
        color: $color-bold;
    }
    p {
        margin: 0 0 $size-paragraph $size-paragraph;
    }
}

#content-wrapper {
    padding: $size-margin;
    font-size: $text-normal;
}

#content-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    gap: $size-spacing;

    > main {
        flex-grow: 1;
    }
    > aside {
        flex: 0 0 $width-sidebar;

        background: $color-sidebar;
        padding: $size-margin;
        height: auto;

        box-shadow: 2px 2px 4px $color-shadow;
    }
}

p {
    margin: 0 0 $size-paragraph;
}

nav > p:last-of-type {
    margin: 0;
}

small {
    font-family: $family-default;
    font-size: $text-small;
}

code {
    color: $color-secondary;
    font-family: $family-code;
}

strong,b {
    font-weight: $weight-bold;
}

em,i {
    font-style: italic;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul:not([class]),
ul.list {
    margin: 0 0 $size-paragraph 0;

    li::before {
        content: "\2022";
        width: $size-indent;
        display: inline-block;
        color: $color-secondary;
        font-weight: $weight-bold;
        margin: 0;
        padding: 0 0 0 $size-indent;
    }
}

.output {
    background: $color-code;
    padding: 0 $size-spacing;
    color: $color-text;
}

pre.highlight {
    border-radius: $size-spacing;

    background: $color-code;
    background-image: linear-gradient(        
        to bottom,
        $color-code2 0%,
        $color-code 1% 20%,
        $color-code2 80% 100%
    );

    padding: $size-spacing;
}

#main-content {
    background: $color-back;
    padding: $size-margin;
    margin-bottom: $size-spacing;

    h2 {
        font-size: $text-largest;
    }

    .post-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .post-heading {
        padding-bottom: $size-spacing;
        margin-bottom: $size-spacing;
    }
    
    .post-list-heading::after,
    .post-heading::after {
        content: '';
        display: block;
        height: $size-divider;
        background: $color-secondary;
        background-image: linear-gradient(to right, $color-secondary 0%, $color-back 95%);
    }

    .post-list {
        .post-heading::after {
            height: 0.5 * $size-divider;
            background: $color-primary;
            background-image: linear-gradient(to right, $color-primary 0%, $color-back 95%);
        }    
    }

    h3::before {
        content: '// ';
        color: $color-primary;
    }
    h4::before {
        content: '/// ';
        color: $color-primary;
    }
    h5::before {
        content: '//// ';
        color: $color-primary;
    }
    h6::before {
        content: '//// ';
        color: $color-primary;
    }
}

h2 {
    color: $color-secondary;
    font-size: $text-largest;
}

.post-list {
    > li {
        padding: $size-margin;
        margin-bottom: $size-spacing;
    }
}

.post-description {
    font-family: $family-header;
    font-size: $text-large;
    font-style: italic;
    color: $color-dim;
}

.post-more {
    font-size: $text-larger;
    font-style: italic;
    margin: $size-spacing 0;
}

.meta {
    display: flex;
    flex-wrap: wrap;
    gap: $size-spacing;

    margin-top: $size-spacing;

    color: $text-normal;
    font-size: $text-small;

    .tags {
        margin: 0;
        padding: 0;

        list-style: none;
        color: $color-secondary;
        display: flex;
        flex-wrap: wrap;
        gap: $size-spacing;
    }

    p, ul {
        margin: 0;
    }
}

.gradient-shine {
    background-color: $color-header;
    background-image: linear-gradient(        
        to bottom,
        $color-header 0% 20%,
        $color-header2 80% 100%
    );
    
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;    

    color: #FFFFFF01;
    -moz-text-fill-color: transparent; 
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: ($responsive-small - 1px)) {

    .header-content {
        display: block;
    }

    h2 {
        font-size: $text-larger;
    }

    header {
        h1,h2 {
            font-size: $text-larger;
        }
    }

    #main-content {
        h2 {
            font-size: $text-larger;
        }

        .post-bar {
            flex-direction: column;
            align-items: flex-start;

            // small {
            //     display: block;
            // }    
        }
    }

}


@media only screen and (max-width: ($responsive-medium - 1px)) {

    #content-wrapper {
        display: block;
    }

}
