---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Recent Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <div class="post-heading">
          <div class="post-bar">
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h2>
            <small class="post-date">
              <time class="date" datetime="{{ post.date | date: '%FT%T' }}">{{ post.date | date: site.date_format }}</time>
            </small>
          </div>
        </div>
        {%- if site.show_excerpts -%}
        <article>
          {%- if post.description -%}
          <p class="post-description">{{ post.description | escape }}</p>
          {%- endif -%}
          {{ post.excerpt }}
          <p class="post-more">
            <a class="more-link" href="{{ post.url | relative_url }}">
              More&hellip;
            </a>
          </p>
        </article>
        {%- endif -%}

        <aside class="meta">
          <p class="label">Tags:</p>
          <ul class="tags">
          {% for tag in post.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
          </ul>
        </aside>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>